/* =================================================  FEATURES ================================================= */

.features .section-title { 
    margin-block-end: 40px; 
  }
  
  .features { 
    overflow: visible; 
  }
  
  .features .shape { 
    display: block; 
  }
  
  .features .shape-1 {
    top: -100px;
    right: 0;
  }
  
  .features .shape-2 {
    bottom: 80px;
    left: 0;
  }
  
  /* FEATURES Grid */
  .features .grid-list { 
    grid-template-columns: repeat(4, 1fr); 
  }
  
  /* Contact number */
  .contact-number::after { 
    bottom: -5px; 
  }
  
  /* Image cover styling */
  .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Section Subtitle */
  .section-subtitle {
    position: relative;
    color: var(--gold-crayola);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-2);
    margin-block-end: 12px;
  }
  
  .section-subtitle::after {
    content: url('../images/separator.svg');
    display: block;
    width: 100px;
    margin-inline: auto;
    margin-block-start: 5px;
  }
  
  /* Button styling */
  .btn {
    position: relative;
    color: var(--gold-crayola);
    font-size: var(--fontSize-label-2);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-5);
    max-width: max-content;
    border: 2px solid var(--gold-crayola);
    padding: 12px 45px;
    overflow: hidden;
    z-index: 1;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 200%;
    border-radius: var(--radius-circle);
    background-color: var(--gold-crayola);
    transition: var(--transition-2);
    z-index: -1;
  }
  
  .btn .text { 
    transition: var(--transition-1); 
  }
  
  .btn .text-2 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
    color: var(--smoky-black-1);
  }
  
  .btn:is(:hover, :focus-visible)::before { 
    bottom: -50%; 
  }
  
  .btn:is(:hover, :focus-visible) .text-1 { 
    transform: translateY(-40px); 
  }
  
  .btn:is(:hover, :focus-visible) .text-2 {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .btn-secondary {
    background-color: var(--gold-crayola);
    color: var(--black);
  }
  
  .btn-secondary::before { 
    background-color: var(--smoky-black-1); 
  }
  
  .btn-secondary .text-2 { 
    color: var(--white); 
  }
  
  /* Section styling */
  .section {
    position: relative;
    padding-block: var(--section-space);
    overflow: hidden;
    z-index: 1;
  }
  
  /* Grid list styling */
  .grid-list {
    display: grid;
    gap: 40px;
  }
  
  /* Shape positioning */
  .shape {
    display: none;
    position: absolute;
    max-width: max-content;
    z-index: -1;
  }
  
  /* Keyframe animation for movement */
  @keyframes move {
    0%, 100% { 
      transform: translateY(0); 
    }
  
    50% { 
      transform: translateY(30px); 
    }
  }
  
  /* Section text */
  .section-text {
    color: white;
  }
  
  
.feature-card { padding: 30px 20px 40px; }

/*  ------------------------------------------------ feature-item ----------------------------------------------*/ 
/* had le code hada bach kant7kmo f le styling dyal les elements dyal our Strength */
.feature-item:nth-child(2n+1) .feature-card { 
  background-color: var(--eerie-black-3); 
  border-radius: 10px;
  margin: 10px;
}

.feature-item:nth-child(2n) .feature-card { 
  background-color: var(--smoky-black-3);   
  border-radius: 10px;
  margin: 10px;
}

.feature-card .card-icon {
  max-width: max-content;
  margin-inline: auto;
  transition: var(--transition-2);
}

.feature-card:hover .card-icon { transform: scale(-1) rotate(180deg); }

.feature-card .card-title { 
  margin-block: 20px; 
  color: beige;
}

.feature-card .card-text {
  color: var(--quick-silver);
  line-height: var(--lineHeight-6);
}
